{% extends 'zooApp/base.html' %}

{% block content %}


<form method="post">
    {{ csrf_token }}
    {{ form.as_p }}
    <form class="form-signin">
        <div class="text-center mb-5">
            <h1 class="h3 mb-3 font-weight-normal">Вход</h1>
            <p>Введите логин и пароль</p>
        </div>

        <hr class="my-4">
        <div class="form-label-group">
            <input type="email" id="inputEmail" class="form-control" placeholder="Электронная почта" required
                   autofocus>
        </div>

        <hr class="my-4">
        <div class="form-label-group">
            <input type="password" id="inputPassword" class="form-control" placeholder="Пароль" required>
        </div>

        <hr class="my-4">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Регистрация</button>
    </form>
</form>

{% endblock %}